{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form  method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{form|crispy}}
        </fieldset>
        <!-- let op: button in div -->
        <div class="form-group">
            <button class="btn btn-outline_info" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <!-- ml-2 class == just to separate from text == left link a -->
            Don't have an account?<a class="ml-2" href="{% url 'register' %}">Sign Up  now</a>
        </small>
    </div>

</div>{% endblock %}
